body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e9ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="text"]:valid, input[type="password"]:valid, input[type="email"]:valid {
    border-color: green;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid {
    border-color: red;
}

button[type="submit"] {
    background-color: #e7d381ff;
    color: #181d33ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #aa8e31ff;
}

.error {
    color: red;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

#cookie, #mostrar, #mostrarT {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#ul {
    margin-top: 20px;
}