@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e9ff;
    font-size: 1rem;
}

header {
    background-color: #181d33;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo-header {
    width: 3.125rem;
    margin: 0.9375rem 0 0.625rem 0;
}

.nav-header {
    height: 100%;
}

.nav-header>ul {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
}

.nav-header>ul>li {
    list-style: none;
}

.nav-header>ul>li>a {
    color: #e7d381;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
}

a:hover {
    opacity: 0.5;
}

.grup-icones>ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.grup-icones>ul>li {
    list-style: none;
    margin: 1.25rem 0 0 0;
}

.grup-icones>ul>li>a>img {
    width: 1.875rem;
}

.busqueda {
    display: flex;
    justify-content: center;
    margin: 1.5625rem 0 0 0;
}

.barra-busqueda {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border: 0;
    padding: 0rem 1.25rem 0.3125rem 1.25rem;
    height: 100%;
}

.busqueda>button {
    background-color: #aa8e31;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    border: 0;
    cursor: pointer;
}

.busqueda>button>img {
    width: 0.85rem;
}

/* Main */

main {
    font-family: 'Ubuntu', sans-serif;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100%;
    width: 100%;
    margin-top: 6.875rem;
    margin-bottom: 9.375rem;
}

.movimientos {
    text-align: center;
}

.busqueda-mov {
    display: flex;
    justify-content: center;
}

.barra-busqueda-mov {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border: 0;
    height: 100%;
    margin-top: 20px;
}

.busqueda-mov>button {
    background-color: #aa8e31;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    border: 0;
    cursor: pointer;
    margin-top: 20px;
}

.busqueda-mov>button>img {
    width: 0.85rem;
}

.taula {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

table>thead>tr>th {
    padding: 20px;
}

table>tbody>tr>td {
    padding: 20px;
}

.editar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 15px;
}

.editar>button {
    background-color: #aa8e31;
}

.editar>button>a {
    text-decoration: none;
    color: black;
}

.editar>button>a>img {
    width: 0.85rem;
}

#paginacion {
    display: flex;
    justify-content: center;
}

/* Aside */

.nav-aside {
    width: 150px;
    height: 100%;
    background-color: #181d33;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
}

.nav-aside>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
}

.nav-aside>ul>li {
    margin-bottom: 10px;
}

.nav-aside>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    display: block;
}

.nav-aside>ul>li>a:hover {
    background-color: #e7d381;
}

/* Footer */

footer {
    background-color: #181d33;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9375rem;
}

.img-logo-footer {
    width: 3.125rem;
}

.nav-footer {
    height: 100%;
}

hr {
    margin: 0.9375rem 1.875rem;
    border-color: #aa8e31;
}

.nav-footer>ul {
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}

.nav-footer>ul>li {
    list-style: none;
}

.nav-footer>ul>li>a {
    color: #e7d381;
    font-size: 0.75rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 6.25rem;
}

.nav-footer>ul>li>p {
    color: #e7d381;
}
