@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e9ff;
    font-size: 1rem;
    font-family: 'Dm Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: #181d33;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
}

footer {
    background-color: #181d33;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo-header {
    width: 3rem;
    margin: 0.9rem 0 0.6rem 0;
}

#mcMenuBtn {
    margin-top: 0rem;
    margin-bottom:0.3rem;
    display: none;
}

.nav-header {
    height: 100%;
    width: auto;
}

.nav-header>ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.nav-header>ul>li {
    list-style: none;
}

.nav-header>ul>li>a {
    color: #e7d381;
    font-size: 1.25rem;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

.grup-icones>ul {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

.grup-icones>ul>li {
    list-style: none;
}

.grup-icones>ul>li>a>img {
    width: 1.8rem;
}

.busqueda {
    display: flex;
    justify-content: center;
}

.barra-busqueda {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3125rem;
    border: 0;
    padding: 0rem 1.25rem 0.3125rem 1.25rem;
    height: 100%;
}

.busqueda>button {
    background-color: #aa8e31;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    border: 0;
}

.busqueda>button>img {
    width: 0.625rem;
}


/* Ocultar el menu per al escritori */

.menuppal {
    display: none;
}

/* Main */

main {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 6.875rem;
    margin-bottom: 9.375rem;
}

.login {
    margin: 0 auto;
    padding: 5rem;
    border-radius: 0.625rem;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.valid { 
    border: 2px solid green; 
}

.invalid { 
    border: 2px solid red; 
}

#submit {
    background-color: #e7d381ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#submit:hover {
    background-color: #aa8e31ff;
}

.error-message {
    color: red;
}

a {
    color: black;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px; 
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    text-align: left;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Estilos para el modal */
.modal-correct, .modal-incorrect-email, .modal-incorrect-pwd {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close, .close-email, .close-pwd {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-email:hover,
.close-emial:focus,
.close-pwd:hover,
.close-pwd:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9375rem;
}

.logo-footer>p {
    margin: 10px;
    color: #e7d381;
    font-size: 22px;
}

.img-logo-footer {
    width: 3.125rem;
}

.nav-footer {
    height: 100%;
}

hr {
    margin: 0.9375rem 1.875rem;
    border-color: #aa8e31;
}

.nav-footer>ul {
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}

.nav-footer>ul>li {
    list-style: none;
}

.nav-footer>ul>li>a {
    color: #e7d381;
    font-size: 0.75rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 6.25rem;
}

.nav-footer > ul > li > p {
    color: #e7d381;
}

@media screen and (max-width:600px) {

    .grup-icones > ul {
        gap: 0.6rem;
    }

    .grup-icones > ul > li > a > img {
        width: 1.25rem;
    }
    
    .nav-header {
        display: flex;
    }

    .nav-header ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .busqueda {
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .logo {
        position: relative;
    }

    #mcMenuBtn {
        display: inline;
        margin: auto 5%;
        background-color: #aa8e31;
        border: none;
        color: #181d33;
    }

    .barra-busqueda {
        width: 75%;
    }

    .busqueda {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .barra-busqueda,
    .busqueda > button {
        border-radius: 0.3rem;
    }

    .barra-busqueda {
        padding: 0.3rem 1.25rem; 
    }

    .busqueda > button > img {
        width: 1.25rem;
    }
}