body {
    margin: 0;
    background-color: #e7e7e9ff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-left, .form-right {
    width: 48%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.form div {
    padding: 10px;
    overflow: hidden;
}

input {
    border: 1px solid #e7e7e9;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

#button {
    text-align: center;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #e7d381ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #aa8e31ff;
}