/* Main */

main {
    height: 100%;
    width: 100%;
    text-align: center;
}

.form-div {
    margin-top: 1.25rem;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

#constitutionWriting {
    border: none;
}

.form-group {
    margin-bottom: calc(1.25rem - 0.3rem);
}

/* Estilos para etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: calc(var(--form-padding) / 2);
}

/* Estilos para inputs, selects y textareas */
#nom,
#cognoms,
#adreça,
#email,
#nom-empresa,
#dni,
#password,
#mobil,
#cif,
#manager-nif,
#subscripcio,
#constitutionWriting {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

/* Estilos para el botón de envío */
#submit {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    padding: 0.6rem 0.9rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--secundary-color);
}

.error-message {
    color: red;
}

a {
    color: black;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 18.75rem;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    text-align: left;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Estilos para el modal */
.modal-correct,
.modal-incorrect-email,
.modal-incorrect-pwd {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close,
.close-email,
.close-pwd {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-email:hover,
.close-emial:focus,
.close-pwd:hover,
.close-pwd:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}