@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e9ff;
}

header {
    background-color: #181d33;
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    top: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.img-logo-header {
    width: 50px;
    margin: 15px 0px 10px 0px;
}

.nav-header {
    height: 100%;
}

.nav-header>ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-header>ul>li {
    list-style: none;
}

.nav-header>ul>li>a {
    color: #e7d381;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.grup-icones>ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.grup-icones>ul>li {
    list-style: none;
    margin: 20px 0px 0px 0px;
}

.grup-icones>ul>li>a>img {
    width: 30px;
}

.grup-icones>ul>li>a>img:hover {
    opacity: 0.5;
}

.busqueda {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.barra-busqueda {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    padding: 0px 10px 0px 10px;
    width: 160px;
}

.busqueda>button {
    background-color: #aa8e31;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

/* Main */

main {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 150px;
}

.login {
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    border: 2px solid white;
}

#email, #password {
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

#email:valid, #password:valid {
    border-color: green;
}

#email:invalid, #password:invalid {
    border-color: red;
}

#submit {
    background-color: #e7d381ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0px;
}

#submit:hover {
    background-color: #aa8e31ff;
}

.error-message {
    color: red;
}

a {
    color: black;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    text-align: left;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Footer */

footer {
    background-color: #181d33;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.img-logo-footer {
    width: 50px;
}

.nav-footer {
    height: 100%;
}

hr {
    margin: 15px 30px;
}

.nav-footer>ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.nav-footer>ul>li {
    list-style: none;
}

.nav-footer>ul>li>a {
    color: #e7d381;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 100px;
}

.nav-footer>ul>li>p {
    color: #e7d381;
}