@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html {
    background-image: url(../fons_nivells/nivell1.jpg);
    background-repeat: no-repeat;
    background-size: 1201px 584px;
}

#avio>img {
    /* açò caldrà llevar-ho al posar els teus estils, però per a que veges
    on està en la pantalla ho he posat amb un color i li he donat un tamanys inicial*/
    width: 78px;
    height: 55px;
    position: absolute;
}

/*.nivells {
    background-color: rgba(100, 100, 100, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid white;
  }*/

  .nivells {
    background-color: rgba(100, 100, 100, 0.6);
    display: flex;
    justify-content: center;
    position: fixed;
    border-top: 2px solid white;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }

  .nivells>li {
    list-style: none;
    font-family: serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    margin: 10px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid rgb(65, 128, 150);
    background-color: rgb(65, 128, 118);
  }
  
  /*.nivells>li {
    list-style: none;
    font-family: serif;
    color:rgb(255, 255, 255);
    margin: 10px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid rgb(65, 128, 150);
    background-color: rgb(65, 128, 118);
    cursor: pointer;
  }*/