@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html {
  background-image: url(../fons_nivells/nivell1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#avio>img {
  /* açò caldrà llevar-ho al posar els teus estils, però per a que veges
  on està en la pantalla ho he posat amb un color i li he donat un tamanys inicial*/
  width: 80px;
  height: 60px;
  position: absolute;
}

.marcador {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 12px;
  right: 0;
  margin-right: 12px;
  border-radius: 10px;
  padding: 13px 27px 13px 27px;
  box-shadow: 10px 10px 10px rgba(24, 24, 24, 0.6);
}

.marcador::before {
  font-family: 'Modak', sans-serif;
  font-size: 32px;
  text-align: center;
  content: "100 pt";
  color: #a62d43;
  margin: 0 auto;
}

footer {
  background-color: rgba(100, 100, 100, 0.6);
  position: absolute;
  width: 100%;
  height: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
}

#nivells a{
  list-style: none;
  font-family: sans-serif;
  font-size: 15px;
  color:rgb(255, 255, 255);
  margin: 11.2px 8px 0px 8px;
  padding: 16px 32px;
  border-radius: 25px;
  border: 2px #5d8aa9;
  background-color: #81b3c4;
  text-decoration: none;
}

#nivells button {
  font-family: sans-serif;
  font-size: 15px;
  margin: 11.2px 8px 0px 8px;
  padding: 16px 32px;
  border-radius: 25px;
  border: 2px #5d8aa9;
  background-color: #81b3c4;
  color: rgb(255, 255, 255);
}

.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}

.modalbox{
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius:3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
   
}

.movedown {
  margin: 0 auto;
}

.modalmask:target .movedown{       
  margin:10% auto;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;

}

.close:hover {
  background: #FAAC58;
  color:#222;
}