@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html {
    background-image: url(../fons_nivells/nivell1-copia.jpg);
    background-repeat: no-repeat;
    background-size: 1201px 584px;
}