@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Montserrat:wght@100&family=Playfair+Display&display=swap');

header {
    background-color: rgb(24, 29, 52);
}

#logo img {
    padding: 10px;
    width: 80px;
}

aside {
    background-color: rgb(24, 29, 52);
    /* Color de fondo del header */
    width: 100%;


}

aside h2 {
    color: rgb(170, 142, 49);
    font-size: 20px;
}

aside nav {
    text-align: left;
}

aside ul {
    list-style: none;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espacio entre elementos */
}

aside ul li a {
    text-decoration: none;
    color: rgb(231, 211, 129);
    /* Color de texto del header nav */
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

aside ul li a:hover {
    border-color: rgb(170, 142, 49);
    /* Color de resaltado al pasar el mouse */
}


header nav {
    text-align: center;
    padding: auto;
}

/* Quita los estilos predeterminados de ul y a */
header ul,
header ul li,
header ul li a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Aplica un espacio entre los elementos */
header nav ul {
    margin-top: 27px;
    text-align: right;

}

/* Estiliza los elementos <a> según tus preferencias */
header nav ul li a {
    color: rgb(170, 142, 49);
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

nav ul li a:hover {
    border-color: rgb(231, 211, 129);
}

.buscador {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.buscador input {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.buscador button {
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 4px;
    cursor: pointer;
    background-color: rgb(170, 142, 49);
}

.buscador img {
    width: 24px;
    height: 24px;
}

body {
    background-color: rgb(231, 231, 233);
}

.button button {
    width: 15%;
    background-color: rgb(170, 142, 49);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button button:hover {
    background-color: rgb(231, 211, 129);
}

.formulario {
    text-align: center;
}

.formulario div {
    margin: 0px 0px 7px 0px;
}

.imagen-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-preview img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}

#imagen-label {
    cursor: pointer;
}

#imagen-label input {
    display: none;
}

#imagen-label::before {
    content: 'Selecciona una imagen';
    display: block;
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#imagen-label input[type="file"]:hover+#preview {
    display: block;
}

.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group div {
    width: 10%;
}

.button {
    text-align: center;
}

.button button {
    width: 10%;
}

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity: 1;
    pointer-events: auto;
}

.modalbox {
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.movedown {
    margin: 0 auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.close:hover {
    background: #FAAC58;
    color: #222;
}

footer {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 29, 52);
    padding: 54px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(231, 211, 129);
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

footer a:hover {
    border-color: rgb(231, 211, 129);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(170, 142, 49);
}

.footer img {
    width: 25px;
    margin-right: 10px;
}

.footer h2 {
    margin: 0;
    color: rgb(170, 142, 49);
}

.enlaces {
    text-align: right;
    margin: 10px 0px 0px 0px;
}

.enlaces a {
    padding: 10px;
}

.contacto {
    text-align: right;
    margin-top: 10px;
}


/* Estilo para el botón de hamburguesa en dispositivos móviles */
#mobile-menu-toggle {
    display: none;
    /* Inicialmente oculto en dispositivos móviles */
    cursor: pointer;
    color: rgb(170, 142, 49);
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;

}

/* Media query para mostrar el botón de hamburguesa en dispositivos móviles */
@media (max-width: 802px) {
    #mobile-menu-toggle {
        display: block;
        /* Muestra el botón de hamburguesa en dispositivos móviles */
    }

    #admin-menu {
        display: none;
        /* Inicialmente oculto en dispositivos móviles */
        position: absolute;
        top: 10px;
        /* Ajusta la posición superior según sea necesario */
        right: 0px;
        /* Coloca #admin-menu a la derecha */
        background-color: rgb(24, 29, 52);
        margin-top: 30px;
    }

    header nav ul {
        text-align: center;
    }

    h1 {
        font-size: 15px;
    }

    nav h2 {
        font-size: 12px;
    }

    :is(label, input, abbr, select, a, .button) {
        font-size: 10px;
    }

    /* Espaciado y legibilidad */
    body {
        padding: 10px;
        font-family: Arial, sans-serif;
        /* Fuente legible */
        line-height: 1.6;
        /* Espaciado entre líneas adecuado */
    }

    .button button{
        width: 20%;
    }




}

/* Estilo cuando #admin-menu está activo */
#admin-menu.active {
    display: block;
    /* Mostrar el menú de administración cuando está activo */
}